body, html{
    height:95%;
    /*padding:1%;*/
}
#innerContainer > .row{
    text-align: left;
    /*vertical-align: text-bottom;*/
    font-size: 1.5em;
}
#mainContainer .title{
    font-family: "Times New Roman";
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:10%;
    margin:auto;
    /*border-top-left-radius: 10%;*/
    /*border-top-right-radius: 10%;*/
    /*border:1px solid black;*/
    font-size: 3em;
    /*border:1px solid black;*/
}
#mainContainer .title .spanCollection {
    display:flex;
    align-items: baseline;
    justify-content: center;
}
#mainContainer .title .title-upCase{
    color: #ffdf00;
}
#mainContainer .title .title-lowCase{
    font-size: 0.7em;
    color: #ffb000;
}
#mainContainer{
    background: green;
    border-radius: 10%;
    border: 1px solid green;
    margin:auto;
    /*background-clip:content-box;*/
    margin-top: 1%;
}
#innerContainer{
    background: white;
    width:99%;
    border: 1px solid green;
    margin:auto;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    height:82%;
    padding-top:2%;
}
#someText{
    text-align: center;
    /*margin:auto;*/
}
#map{
    height: 100%;
}

#mainContainer .footer{
    font-family: "Times New Roman";

    /*display:flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    width:100%;
    height:7%;
    font-size: 1.5em;
    font-weight: bolder;
    color: #ffda28;
    /*margin:auto;*/
}

.footer * {
    /*border: 1px solid black;*/
}
.footer .row{
    height:90%;
    width:85%;
    margin:auto;
    margin-top:1%;
    position: relative;
}

.footer .resultPrice{

}
.footer .partPrice{
    height:100%;
    width:15%;
    /*margin:auto;*/
    text-align: center;
    position: absolute;
}
#mainContainer .footer .sign{
    width:2%;
    height:100%;
    position: relative;
    text-align: center;
}
#filter .heap, #service .heap{
    font-size: 0.6em;
}
.heapTitle{
    font-size: 0.8em;
    text-align: center;
}

/*#service{*/
    /*font-size:0.5em;*/
/*}*/
.greenToggles {
    background-color: white; /* Green */
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 4px;
}
.greenToggles:focus, .yellowToggles:focus, #dtNow{
    outline: none;
}
/*.greenToggles:focus{*/
    /*border: none;*/
/*}*/

.yellowToggles{
    background-color: white; /* Green */
    color: #ffdf00;
    border: 2px solid #ffdf00;
    border-radius: 4px;
}
.heap{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heap > *{
    margin-bottom: 10px;
}
.orderDiv{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.routeTitle{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.routePathTitles{
    text-align: right;
}
.routes .col-2{
    text-align: right;
}
.routes{
    margin-left: 1%;
    /*display:flex;*/
    font-size: 0.8em;
}
.routePathResults .routePath{
    font-size: 0.5em;

}
.dummyOpt{
    display:none;
}
.nowAndDT{
    display:flex;
    justify-content: space-between;
}
#dtNow{
    margin-left:5%;
    background-color: darkgray; /* Green */
    color: black;
    border: 2px solid gray;
    border-radius: 4px;
}