
#mainContainer .div-title{
    display:flex;
    align-items: baseline;
    justify-content: center;
    width:100%;
    height:10%;
    margin:auto;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    /*border:1px solid black;*/
    font-size: 3em;

}

#mainContainer .div-title .title-upCase{
    color: #ffdf00;
}
#mainContainer .div-title .title-lowCase{
    font-size: 0.7em;
    color: #ffb000;
}
#mainContainer{
    background: green;
    border-radius: 10%;
    border: 1px solid green;
    margin:auto;
    background-clip:content-box;
}
#innerContainer{
    background: white;
    width:99%;
    border: 1px solid green;
    margin:auto;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    height:89%;
    /*margin-bottom: 1%;*/
}
#someText{
    text-align: center;
    /*margin:auto;*/
}
#map{
    height: 100%;
}